@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "libre franklin";
  src: url("../fonts/librefranklin-regular-webfont.woff2") format("woff2"),
    url("../fonts/librefranklin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "libre franklin";
  src: url("../fonts/librefranklin-bold-webfont.woff2") format("woff2"),
    url("../fonts/librefranklin-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "pacifico";
  src: url("../fonts/pacifico-webfont.woff2") format("woff2"),
    url("../fonts/pacifico-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "playfair";
  src: url("../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  box-sizing: border-box;
  color: #000;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
p,
h1,
h2 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
  border: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 135px;
}

.header {
  margin-top: 13px;
  margin-bottom: 35px;
}

.wrap {
  border-bottom: 1px solid #DBDBDB;
}

.button {
  width: 201px;
  height: 62px;
  background-color: #ac1313;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}

.header__wrap {
  display: flex;
  justify-content: space-between; 
}

.header__p {
  font-family: "pacifico";
  font-size: 33px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__button_title {
  font-family: "libre franklin";
  text-transform: capitalize;
}

.header__item {
  text-transform: uppercase;
}

.header__link {
  font-size: 12px;
  letter-spacing: 2px;
}

.header__button {
  border: none;
  background-color: white;
}

.header__svg {
  width: 20px;
  height: 20px;
}

.headline {
  width: 100%;
  margin-bottom: 120px;
}

.headline__wrap {
  position: relative;
}

.headline__image {
  height: 708px;
  background-image: url(/images/headline__main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headline__content {
  position: absolute;
  top: 192px;
}

.headline__info {
  max-width: 512px;
  width: 100%;
}

.brand {
  color: #d77474;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* margin-bottom: 12px; */
}
.info__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 14px;
}
.ampersand {
  font-family: "playfair";
  font-size: 68px;
  color: #ac1313;
  vertical-align: text-bottom;
}
.info__text {
  display: inline-block;
  font-family: "libre franklin";
  font-size: 16px;
  color: #6c6c6c;
  margin-bottom: 51px;
}

.headline__photo {
  background-image: url(/images/headline__photo_png.png);
  width: 784px;
  height: 445px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 219px;
  right: 33px;
}

.story {
  margin-bottom: 221px;
}

.story__headlines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}

.h2_headline { 
  font-size: 40px;
  font-family: "poppins";
  font-weight: 700;
}

.story__picture{ 
  display: grid;
  gap: 151px;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  margin-bottom: 87px;
}

.story__item {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 30px solid;
  border-color: rgba(0, 0, 0, 0.05);
}

.story__area { 
  display: grid;
  place-content: center;
}

.story__svg {
  width: 70px;
  height: 70px;
}

.story__name {
 color: white;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 text-align: center;
 line-height: 38px;
}

.story__info { 
  display: grid;
  grid-template-columns: repeat(2, 501px);
  gap: 142px;
  margin-bottom: 151px;
}

.info__headline { 
  font-size: 29px;
  font-weight: 700;
  max-width: 323px;
  width: 100%;
  margin-bottom: 26px;
}

.info_span {
  font-family: "libre franklin";
  font-size: 14px;
  color: #6C6C6C;
}

.goods {
  margin-bottom: 121px;
}

.goods__info{
  display: grid;
  gap: 86px;
  row-gap: 244px;
  margin-bottom: 119px;
}

.picture__background {
  width: 500px;
  height: 220px;
  background-color: #F5F5F5;
  position: relative;
  
}
.picture__main {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: visible;
}

.vase_black {
  width: 250px;
  height: 509px;
}

.vase_orange {
  width: 350px;
  height: 417px;
}

.picture_1 {
  grid-area: 1 / 1 / 2 / 2;
}

.content_1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 388px;
}

.picture_2 {
  grid-area: 2 / 2 / 3 / 3;
}

.content_2 {
  grid-area: 2 / 1 / 3 / 2;
  width: 388px;
}

.goods__headline { 
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 23px;
}

.goods__content {
  display: inline-block;
  margin-bottom: 27px;
}

.goods__ref { 
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}

.store {
  margin-bottom: 120px;
}

.store__headlines {
 text-align:  center;
}

.store__brand {
  margin-bottom: 17px;
}

.store__headline {
  margin-bottom: 63px;
}

.store__info {
  margin-bottom: 61px;
}

.store__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 21px;
}

.store__section {
  border-bottom: 1px solid #DBDBDB;
}

.store__picture {
  margin-bottom: 20px;
}

.store__name { 
  font-family: "libre franklin";
  font-size: 16px;
  color: #6C6C6C;
}

.store__price {
  font-size: 14px;
  margin-bottom: 15px;
}

.store__view { 
  display: flex;
  justify-content: center;
 
}

.catalog {
  margin-bottom: 122px;
}

.catalog__image {
  height: 471px;
  background-image: url(/images/catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.catalog__wrap {
 position: relative;
 height: 471px;
}

.catalog__main {
  width: 498px;
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 121px;
  left: 144px;
}

.catalog__brand {
  font-weight: 400;
  margin-bottom: 7px;
}

.catalog__headline {
  font-size: 36px;
  margin-bottom: 13px;
}

.catalog__content {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 30px;
}

.highlighted { 
  font-weight: 700;
  text-decoration: underline;
  color: #ac1313;
}

.news {
  padding-bottom: 162px;
  margin-bottom: 107px;
  border-bottom: 1px solid #DBDBDB;
}

.news__wrap { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__image {
  margin-bottom: 40px;
}

.news__svg {
  height: 80px;
  width: 80px;
}

.news__brand {
  font-weight: 400;
  margin-bottom: 8px;
}

.news__headline {
  font-weight: 400;
  margin-bottom: 63px;
}

.news__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wrap {
  margin-bottom: 40px;
}

.news__input {
  width: 320px;
  height: 45px;
}

.news__button {
  width: 175px;
  height: 45px;
}

.news__text {
  font-family: "lato";
  font-size: 14px;
  line-height: 1.4;
  color: #A1A1A1;
}

