@import './nullstyle.scss';
@import './fonts.scss';

/* _______________МОДИФИКАТОРЫ__________________ */

.button {
	width: 201px;
	height: 62px;
	background-color: var(--main-color);
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
}





.wrap {
	border-bottom: 1px solid #DBDBDB;
}

.logo {
	width: 109px;
	height: 40px;
}



.ampersand {
	display: inline;
	font-family: 'playfair', sans-serif;
	font-size: 68px;
	color: var(--main-color);
	vertical-align: text-bottom;
}

.highlighted {
	font-weight: 700;
	text-decoration: underline;
	color: var(--main-color);
}

/* ______________________________________________ */

body {
	--main-color: #AC1313;
	--vine-background: #A21010;
	--grey-text: #6C6C6C;
	--light-grey-text: #A1A1A1;
}

@mixin brand {
	font-weight: 700;
	font-size: 14px;
	color: #d77474;
	letter-spacing: 2px;
	text-transform: uppercase;
	/* margin-bottom: 12px; */
}

@mixin headline {
	font-size: 40px;
	font-weight: 700;
}

@mixin text_normal {
	font-family: "libre franklin";
	font-size: 14px;
	color: var(--grey-text);
}

/*_________________________________________________*/

.container {
	box-sizing: border-box;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.header {
	margin-top: 13px;
	margin-bottom: 35px;

	&__wrap {
		display: flex;
		justify-content: space-between;

	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__item {
		text-transform: uppercase;

		&:first-child {
			color: var(--main-color);
		}

		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		font-size: 12px;
		letter-spacing: 2px;


	}

	&__button {
		display: flex;
		border: none;
		background-color: white;

		&_title {
			font-family: "libre franklin", sans-serif;
			text-transform: capitalize;
		}
	}

	&__svg {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

}

.burger_lines {
	display: none;

}

.burger__menu {
	display: none;
}

.headline {
	margin-bottom: 120px;
	height: 708px;
	background-image: url(/images/headline__main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	&__wrap {
		position: relative;
	}

	&__content {
		position: absolute;
		top: 192px;
	}

	&__info {
		max-width: 512px;
		width: 100%;
	}

	&__photo {
		background-image: url(/images/headline__photo_png.png);
		width: 784px;
		height: 445px;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 219px;
		right: 200px;
	}

	.info__title {
		font-weight: 700;
		font-size: 48px;
		margin-bottom: 14px;
	}

	.info__text {
		display: inline-block;
		font-family: "libre franklin";
		font-size: 16px;
		color: var(--grey-text);
		margin-bottom: 51px;
	}

	.info__brand {
		@include brand;
	}
}

.story {
	margin-bottom: 221px;

	&__headline-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 63px;
	}

	&__brand {
		@include brand;
	}

	&__headline {
		@include headline;
	}

	&__picture-block {
		display: grid;
		gap: 151px;
		grid-template-columns: repeat(auto-fit, minmax(0, 240px));
		justify-content: center;
		margin-bottom: 87px;
	}

	&__picture {
		box-sizing: border-box;
		display: grid;
		place-items: center;
		height: 240px;
		max-width: 240px;
		width: 100%;
		border-radius: 50%;
		border: 30px solid rgba(0, 0, 0, 0.05);

		&:nth-child(1) {
			background-color: #E4B366;
		}

		&:nth-child(2) {
			background-color: #F05B10;
		}

		&:nth-child(3) {
			background-color: var(--vine-background);
		}
	}

	&__area {
		display: grid;
		place-content: center;
	}

	&__name {
		color: white;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		line-height: 38px;
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0, 501px));
		gap: 142px;
		justify-content: center;
		margin-bottom: 151px;
	}

	&__h3 {
		font-size: 29px;
		font-weight: 700;
		max-width: 323px;
		width: 100%;
		margin-bottom: 26px;
	}

	&__content {
		@include text_normal;
		display: inline-block;
	}

}

.goods {
	margin-bottom: 121px;

	&__info {
		display: grid;
		gap: 86px;
		row-gap: 244px;
		justify-content: center;
		margin-bottom: 119px;
	}

	&__background {
		max-width: 500px;
		width: 100%;
		height: 220px;
		background-color: #F5F5F5;
		position: relative;
	}

	&__position {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: visible;
	}

	&__headline {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 23px;
	}

	&__content {
		@include text_normal;
		display: inline-block;
		margin-bottom: 27px;
	}

	&__ref {
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
	}

	.picture_1 {
		grid-area: 1 / 1 / 2 / 2;
	}

	.content_1 {
		grid-area: 1 / 2 / 2 / 3;
		max-width: 388px;
		width: 100%;
	}

	.picture_2 {
		grid-area: 2 / 2 / 3 / 3;
	}

	.content_2 {
		grid-area: 2 / 1 / 3 / 2;
		max-width: 388px;
		width: 100%;
	}

}

.store {
	margin-bottom: 120px;

	&__headlines {
		text-align: center;
		margin-bottom: 63px;
	}

	&__headline {
		@include headline;
	}

	&__brand {
		@include brand;
		margin-bottom: 17px;
	}

	&__info {
		margin-bottom: 61px;
	}

	&__section {
		border-bottom: 1px solid #DBDBDB;
	}

	&__picture {
		margin-bottom: 20px;
		width: 100%;
	}

	&__name {
		font-family: "libre franklin";
		color: var(--grey-text);
	}

	&__price {
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__view {
		display: flex;
		justify-content: center;
	}

}

.catalog {
	margin-bottom: 122px;
	background-image: url(/images/catalog.jpg);
	background-size: cover;

	&__wrap {
		position: relative;
		height: 471px;
	}

	&__main {
		max-width: 498px;
		width: 100%;
		position: absolute;
		top: 121px;
		left: 144px;
	}

	&__brand {
		@include brand;
		font-weight: 400;
		margin-bottom: 7px;
	}


	&__headline {
		@include headline;
		font-size: 36px;
		margin-bottom: 13px;
	}

	&__content {
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 30px;
	}
}

.news {
	padding-bottom: 162px;
	border-bottom: 1px solid #DBDBDB;

	&__wrap {
		text-align: center;
	}

	&__svg {
		height: 80px;
		width: 80px;
		margin: 0 auto 40px;
	}

	&__brand {
		@include brand;
		font-weight: 400;
		margin-bottom: 8px;
	}

	&__headline {
		@include headline;
		font-weight: 400;
		margin-bottom: 63px;
	}

	&__form-wrap {
		margin-bottom: 40px;

	}

	&__input {
		width: 320px;
		height: 45px;
		border: 1px solid #EBEBEB;
		padding-left: 50px;
	}


	&__visual {
		font-family: "lato";
		font-size: 14px;
		color: #A1A1A1;
	}

	&__button {
		width: 175px;
		height: 45px;
		background-color: #000;
		color: #ffffff;
		font-weight: 400;
	}

}

.contact {
	background-color: #DBDBDB1A;
	background-size: cover;
	margin-bottom: 90px;
	padding-top: 107px;

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 70px;
	}

	&__logo {
		margin-bottom: 30px;
	}

	&__content {
		@include text_normal;
		max-width: 340px;
		width: 100%;
		text-align: center;
		line-height: 1.7;
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
	}

	&__item {
		/* max-width: 188px;
		 width: 100%; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__picture {
		width: 40px;
		height: 40px;
		margin-bottom: 10px;
	}

	&__name {
		font-size: 13px;
		margin-bottom: 20px;
	}

	&__ref {
		max-width: 167px;
		width: 100%;
		text-align: center;
		@include text_normal;
	}
}

/* ___________________________________________________________________ */

.sliders {
	position: relative;
	padding: 0 100px;
}

.swiper .change-swiper {
	width: 100%;
	height: 100%;
	padding: 0 60px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	margin-bottom: 50px;

}

.swiper-scrollbar {
	height: 5px;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
	height: 700px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: #103a4e;

}

.swiper .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background-color: #103a4e;
	color: #F5F5F5;

}

.swiper .swiper-pagination-current,
.swiper .swiper-pagination-fraction,
.swiper .swiper-pagination-total {
	font-size: 30px;
}

.swiper-pagination ._pagination-change {
	height: 10px;
}

.swiper .swiper-pagination-progressbar-fill {
	background-color: var(--vine-background);
}

.swiper .swiper-scrollbar-drag {
	background-color: var(--vine-background);
}


.swiper .swiper-slide {
	width: auto;
}

/* ____________________________________________________________________ */
@media screen and (max-width: 1440px) {

	.container {
		padding: 0 50px;
	}

	.header {
		&__link {
			font-size: 16px;
		}

		&__photo {
			right: 110px;
		}
	}

	.headline {
		&__photo {
			display: none;
		}

		&__content {
			text-align: center;
			left: 50%;
			margin-left: -250px;
		}

	}
}


@media screen and (max-width: 991px) {
	.story__picture {
		gap: 60px;
	}

	.story__picture {
		grid-template-columns: repeat(1, minmax(0, 240px));
	}

	.info__headline {
		max-width: 490px;
	}

	.goods__info {
		grid-template-columns: repeat(auto-fit, minmax(o, 300px));
	}

	.info_span,
	.info__text {
		font-size: 18px;
	}

	h3 {
		text-align: center;
	}

	.catalog__main {
		text-align: center;
		max-width: 498px;
		width: 100%;
		position: absolute;
		top: 121px;
		left: 50%;
		margin-left: -250px;
	}


	.contact__list {
		flex-direction: column;
	}

	.contact__item {
		margin-bottom: 30px;
	}


	.header__nav,
	.burger__menu {
		display: none;
	}

	.burger_lines {

		height: 26px;
		width: 32px;
		position: absolute;
		top: 17px;
		right: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.line {
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #0e2431;
	}

}

@media screen and (max-width: 768px) {

	.news__input {
		width: 218px;
	}

	.news__button {
		width: 146px;
	}

	.picture_1 {
		grid-area: 1 / 1 / 2 / 1;
	}

	.content_1 {
		grid-area: 2 / 1 / 3 / 1;
		max-width: 388px;
		width: 100%;
	}

	.picture_2 {
		grid-area: 3 / 1 / 4 / 1;
	}

	.content_2 {
		grid-area: 4 / 1 / 5 / 1;
		max-width: 388px;
		width: 100%;
	}

	.catalog__main {
		margin-left: -215px;

	}

	.container {
		padding: 0 10px;
	}

	.info__title {
		font-size: 28px;
	}

	.headline__content {
		margin-left: -50%;
	}

	.ampersand {
		display: none;
	}

	.info__brand {
		margin-bottom: 15px;
	}

	.h2_headline {
		font-size: 36px;
		text-align: center;
	}

	.brand {
		font-size: 14px;
	}

	.info_span,
	.goods__headline {
		text-align: center;
	}

	.vase_orange {
		width: 300px;
	}

	.store__picture {
		max-width: 300px;
		width: 100%;
	}

	.goods__info {
		gap: 142px 86px;
	}

	.goods__ref {
		display: block;
		text-align: center;
	}

	.headline__content {
		top: 104px;
	}

	.headline {
		margin-bottom: 72px;
		height: 497px;
	}

	.story__info {
		gap: 72px;
	}

	.catalog__main {
		margin-left: -50%;
	}

	.catalog__content {
		color: #000;
	}

	.news__input {
		margin-bottom: 20px;
	}
}